.centerTheTuut{
	text-align: center;
}
.leftTheTuut{
	float: left;
}

#indexMainSection{
	position: absolute;
	width: 100%;
	top:5%;
	left:0;
}

#IndexStatusSection{
	position: absolute;
	width: 100%;
	bottom: 10%;
	/*background-color: black;
	color: green;*/
	text-align: center;
}

#IndexStatusSection .row div{
	background-color: black;
	color: green;
	height: 300px;
	overflow-y: auto;
	border-radius: 10px;
	font-family: monospace;

}
